body {
    text-align: center;
    background-image: url("images/360_F_325384191_sg1D5lYWfRedGQsBm8xIHnsSAUUUVxGE.jpg");
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-width: 5px;
    border-radius: 30px;
    border-color: green;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    border-width: 5px;
    border-color: green;
}

#replay {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    border-radius: 50px;
    border-width: 5px;
    border-color: green;
    
}
